.flex-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header-cont {
  text-align: center;
}
.photo-placeholder {
  border: 1px solid lightcoral;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #333333;
}
